/* *********************** FOOTER *********************** */

.footer {
    text-align: right;
    background-color: #040d12;
    color: #fff;
    margin: 0%;
    display: flex;
    justify-content: space-between;
  }
  
  .footer p {
    margin-bottom: 0;
    padding: 0 1vw;
  }