.sectionHeading {
  text-align: center;
  /* padding-top: 10vh; */
}

#skills,
#projects,
#about {
  padding-top: 15vh;
}

/* *********************** RESPONSIVE CSS *********************** */

/* small screen */

@media screen and (max-width: 700px) {
  .edu-heading,
  .edu-text,
  .exp-heading {
    margin: 1.5% 5%;
  }

  ol,
  ul {
    padding-left: 0.05rem;
  }
  .item .topNavLink {
    font-size: 0.6em;
  }
  .homepage {
    padding-top: 15%;
  }
  .homeText1 {
    font-size: 1.3em;
    padding-top: 10vh;
  }
  svg {
    height: 80vh;
    width: 80vw;
  }
  .coffeeAnimation {
    float: left;
    padding-right: 0%;
    padding-left: 5%;
    margin-top: 10%;
  }
  .projectLeftText {
    text-align: center;
    margin-top: 2vh;
  }
  .projectContainer {
    margin: 1% 5%;
  }
  .projectLeftText {
    width: 80vw;
    grid-row: 2;
  }
  .projectRightImg {
    grid-row: 1;
  }

  @media screen and (max-width: 900px) {
    .card-grid {
      display: block;
    }
    .card {
      width: 100%;
    }

    .skill-card {
      width: 90%;
      margin: 5% auto;
    }
    #homepage {
      height: 100vh;
      display: block;
      color: #fafafa;
    }
    .projectsHeading {
      margin-top: 10%;
    }
    .projectBtnGroup {
      margin: 0% 34%;
    }
    .projectBtn {
      margin: 0.5%;
    }
    .projectLeftText {
      width: 85vw;
      grid-row: 2;
    }
    .projectRightImg {
      grid-row: 1;
    }
  }
}
